@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-noto-sans-jp: 'Noto Sans JP', sans-serif;
  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
}

body {
  color: #1e293b;
}

select:invalid {
  color: #9ca3af !important; 
}


  @media (max-width: 1080px) {
    .hide-on-mobile {
      display: none;
    }
    .show-on-mobile {
      display: table;
    }
  }
  
  @media (min-width: 1080px) {
    .show-on-mobile {
      display: none;
    }
  }



